.userInputContainer {
  font: {
    family: Noto Sans;
    style: normal;
    weight: 500;
    size: 16px;
  }
  line-height: 22px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.userInput {
  flex-grow: 1;
  padding: 14px 0 14px 14px;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.icon {
  cursor: pointer;
}
